DB_TYPE=mysql          # mysql, pgsql, or sqlite
DB_HOST=127.0.0.1      # Hostname (Not needed for SQLite)
DB_NAME=dbname         # Database name (Not needed for SQLite)
DB_USER=user           # Database username (Not needed for SQLite)
DB_PASS=pass           # Database password (Not needed for SQLite)
SQLITE_PATH=database.sqlite  # Relative path for SQLite

# AnycastDNS
DNS_ANYCASTDNS_API_KEY=

# Bind9
DNS_BIND9_API_KEY=
DNS_BIND9_BIND_IP=

# Cloudflare
DNS_CLOUDFLARE_EMAIL=
DNS_CLOUDFLARE_API_KEY=

# ClouDNS
DNS_CLOUDNS_AUTH_ID=
DNS_CLOUDNS_AUTH_PASSWORD=

# Desec
DNS_DESEC_API_KEY=

# DNSimple
DNS_DNSIMPLE_API_KEY=

# Hetzner
DNS_HETZNER_API_KEY=

# PowerDNS
DNS_POWERDNS_API_KEY=
DNS_POWERDNS_IP=

# Vultr
DNS_VULTR_API_KEY=